<nav>
  <section class="nav-project">
    {{#if isLoadingProjects}}
      Loading project list...
    {{else}}
      <PowerSelect @selected={{selectedProject}} @options={{sortedProjects}} @onchange={{action "selectProject"}} @placeholder="Select a project..." @searchField="name" as |project|>
        <NavBar::-Project @project={{project}} />
      </PowerSelect>
    {{/if}}
  </section>

  <section class="nav-branch">
    {{#if selectedProject}}
      <PowerSelect @selected={{selectedBranch}} @options={{selectedProject.branches}} @onchange={{action "selectBranch"}} @placeholder="Select a branch..." as |branch|>
        {{branch}}
      </PowerSelect>
    {{/if}}
  </section>

  <section class="nav-providers">
    {{#each providers as |provider|}}
      <NavBar::-Provider @provider={{provider}} />
    {{/each}}
  </section>
</nav>

{{yield}}
