{{#if isCircleCIReady}}
  {{#if circleUserName}}
    <nav>
      <section class="nav-auth">
        Authenticated as {{circleUserName}}
        <button {{action "unsetToken" on="click"}}>Deauth</button>
      </section>

      <section class="nav-project">
        {{#if isLoadingProjects}}
          Loading project list...
        {{else}}
          {{#power-select
            selected=selectedProject
            options=sortedProjects
            onchange=(action 'selectProject')
            placeholder="Select a project..."
            as |project|
          }}
            {{project.displayName}}
          {{/power-select}}
        {{/if}}
      </section>

      <section class="nav-branch">
        {{#if selectedProject}}
          {{#power-select
            selected=selectedBranch
            options=selectedProject.branches
            onchange=(action 'selectBranch')
            placeholder="Select a branch..."
            as |branch|
          }}
            {{branch}}
          {{/power-select}}
        {{/if}}
      </section>
    </nav>

    {{yield}}

  {{else}}
    <nav class="auth">
      <section class="nav-auth">
        Please give us a CircleCI API token to access your account.
        If you don't have a token yet, <a href="https://circleci.com/account/api" target="_blank">click here</a> to create one.
      </section>
      <section class="nav-auth">
        <form {{action "setToken" on="submit"}}>
          {{input type="text" placeholder="CircleCI auth token" value=authToken}}
          <button type="submit">Authenticate</button>
        </form>
      </section>
    </nav>
  {{/if}}
{{else}}
  <nav class="auth">
    <section class="nav-auth">
      Checking CircleCI authentication...
    </section>
  </nav>
{{/if}}
