<nav>
  <section class="nav-project">
    {{#if isLoadingProjects}}
      Loading project list...
    {{else}}
      {{#power-select
        selected=selectedProject
        options=sortedProjects
        onchange=(action 'selectProject')
        placeholder="Select a project..."
        searchField='name'
        as |project|
      }}
        {{nav-bar/-project project=project}}
      {{/power-select}}
    {{/if}}
  </section>

  <section class="nav-branch">
    {{#if selectedProject}}
      {{#power-select
        selected=selectedBranch
        options=selectedProject.branches
        onchange=(action 'selectBranch')
        placeholder="Select a branch..."
        as |branch|
      }}
        {{branch}}
      {{/power-select}}
    {{/if}}
  </section>

  <section class="nav-providers">
    {{#each providers as |provider|}}
      {{nav-bar/-provider provider=provider}}
    {{/each}}
  </section>
</nav>

{{yield}}
