{{#if isCircleCIReady}}
  {{#if circleUserName}}
    <nav>
      <section class="nav-auth">
        {{circleUserName}}
        {{#bs-button type="secondary" onClick=(action 'unsetToken')}}Deauth{{/bs-button}}
      </section>

      <section class="nav-project">
        {{#if isLoadingProjects}}
          Loading project list...
        {{else}}
          {{#power-select
            selected=selectedProject
            options=sortedProjects
            onchange=(action 'selectProject')
            placeholder="Select a project..."
            as |project|
          }}
            {{project.displayName}}
          {{/power-select}}
        {{/if}}
      </section>

      <section class="nav-branch">
        {{#if selectedProject}}
          {{#power-select
            selected=selectedBranch
            options=selectedProject.branches
            onchange=(action 'selectBranch')
            placeholder="Select a branch..."
            as |branch|
          }}
            {{branch}}
          {{/power-select}}
        {{/if}}
      </section>
    </nav>

    {{yield}}

  {{else}}
    <nav class="auth">
      <section class="nav-auth">
        {{#bs-form model=this formLayout='inline' onSubmit=(action 'setToken') as |form|}}
          {{form.element controlType="password" hiddenLabel="CircleCI auth token" placeholder="CircleCI auth token" required="true" property="authToken"}}
          {{bs-button defaultText="Authenticate" type="primary" buttonType="submit"}}
          <div class="form-group">
            <label>
              <a href="https://circleci.com/account/api" target="_blank">or click here to create an API token</a>.
            </label>
          </div>
        {{/bs-form}}
      </section>
    </nav>
  {{/if}}
{{else}}
  <nav class="auth">
    <section class="nav-auth">
      Checking CircleCI authentication...
    </section>
  </nav>
{{/if}}
