{{#if project}}
  <h4>{{project.displayName}} on {{branch}}</h4>

  {{#if isLoadingBuilds}}
    Loading build data...
  {{else}}
    <section class="chart-container">
      {{ci-perf-graph projectBuilds=validBuilds projectHasWorkflows=projectHasWorkflows title=mainGraphTitle}}
    </section>

    {{#each customGraphs as |graph|}}
      {{custom-graph project=project projectBuilds=validBuilds title=graph.title jobName=graph.jobName artifactMatches=graph.artifactMatches}}
    {{/each}}
  {{/if}}
{{/if}}
