{{#if project}}
  {{#if isLoadingBuilds}}
    Loading build data...
  {{else}}
    {{#bs-accordion selected=accordionSelectedItem as |acc|}}
      {{#acc.item value='main' as |item|}}
        {{#item.title}}
          Build durations for {{project.displayName}}
        {{/item.title}}

        {{#item.body}}
          {{ci-perf-graph projectBuilds=validBuilds projectHasWorkflows=projectHasWorkflows title=mainGraphTitle}}
        {{/item.body}}
      {{/acc.item}}

      {{#each sortedCustomGraphs as |graph|}}
        {{#acc.item value=(concat 'graph-' graph.order) as |item|}}
          {{#item.title}}
            {{graph.title}}
          {{/item.title}}

          {{#item.body}}
            {{custom-graph project=project projectBuilds=validBuilds graph=graph}}
            {{graph-controls graph=graph graphChangedAction=(action 'graphChanged')}}
          {{/item.body}}
        {{/acc.item}}
      {{/each}}
    {{/bs-accordion}}

    <div class="card bg-light mt-3">
      {{#if isAddingCustomGraph}}
        <div class="card-header">New custom graph</div>
      {{/if}}
      <div class="card-body">
        {{#if isAddingCustomGraph}}
          {{#custom-graph-form submitLabel='Add' model=newCustomGraph submitAction=(action 'addCustomGraph')}}
            {{#bs-button type="secondary" onClick=(action 'toggleAddCustomGraph')}}Cancel{{/bs-button}}
          {{/custom-graph-form}}
        {{else}}
          {{#bs-button type="primary" onClick=(action 'toggleAddCustomGraph')}}Add custom graph{{/bs-button}}
        {{/if}}
      </div>
    </div>
  {{/if}}
{{/if}}
